html, body {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:rgb(4, 69, 175);
    opacity: 0.5; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: red;
  }

  .d-noneN {
      display: none !important;
  }

.global-button {
    position: relative;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px;
    padding: 6px 18px;
    min-height: 48px;
    background-color: rgb(4, 69, 175);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    font-size: 24px;
    line-height: 32px;
    transition: all 0.3s ease-in-out;
}

.global-button:hover, .footer-create .footer-create-content-btn:hover {
    opacity: 0.8;
}

.global-button svg {
    fill: rgb(253, 253, 253);
    transition: fill 0.2s ease 0s;
}


.global-header {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
}

.global-header-span {
    font-weight: bold;
    color: rgb(4, 69, 175);
}

.global-header-span svg {
    fill: rgb(4, 69, 175);
    transition: fill 0.2s ease 0s;
}

.global-header-ul {
    list-style-type: none;
    margin-top: 8px;
}
.global-header-ul-li {
    border-radius: 4px;
    background-color: rgba(4, 69, 175, 0.1);
    box-shadow: rgba(4, 69, 175, 0.6) 0px 0px 0px 1px inset;
    color: rgb(4, 69, 175);
    padding: 0 8px;
    cursor: pointer;
    margin-bottom: 8px;
    width: 175px;
    height: 40px;
    transition: all 0.1s ease-in-out;
    display: flex;
    align-items: center;
    position: relative;
}
.global-header-ul-li-phone {
    width: 100%;
}
.global-header-ul-li-txt {
    width: 100%;
}
.global-header-ul-li-para {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgb(4, 69, 175);
}

.global-header-ul-li-input {
    border: none;
    color: rgb(4, 69, 175);
    border-bottom: 1px solid rgb(4, 69, 175);
    font-size: 30px;
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    outline: none;
    transition: all 0.1s ease-in-out;
}
.global-header-ul-li-txtArea {
    resize: none;
    height: 50px;
    min-height: 50px;
    width: 100%;
    font-size: 30px;
    display: inline-block;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(4, 69, 175);
    color: rgb(4, 69, 175);
}
.changeInputClass {
    border-bottom: 2px solid rgb(9, 79, 192);
    color: rgb(4, 69, 175);;
}
.global-header-ul-li-required .global-header-ul-li-span-qN,
.global-header-ul-li-required .global-header-ul-li-span-key {
    background-color: rgb(4, 69, 175);
    color: #FFF;
}
.global-header-ul-li-required {
    border: 1px solid rgb(4, 69, 175);
} 
.global-header-ul-li-required .global-header-ul-li-span-check {
    display: block;
    
}
.global-header-ul-li:hover {
    background-color: rgba(4, 69, 175, 0.3);
}
.global-header-ul-li:last-child { margin-bottom: 0; }

.global-header-ul-li-span-key {
    position: absolute;
    font-size: 12px;
    left: -25px;
    background-color: #FFF;
    border: 1px solid rgb(4, 69, 175);
    border-right: 1px solid transparent;
    padding: 3px 6px;
    font-weight: bold;
    display: none;
    pointer-events: none;
}

.global-header-ul-li-span-qN {
    padding: 0 6px;
    background-color: #FFF;
    font-weight: bold;
    border: 1px solid rgb(4, 69, 175);
    pointer-events: none;
}


.global-header-ul-li-span-qC {
    padding-left: 8px;
    font-size: 20px;
    pointer-events: none;
}

.global-header-ul-li-span-check {
    position: absolute;
    right: 12px;
    display: none;
}

.global-header-ul-li-span-check  svg {
    display: block;
    fill: rgb(4, 69, 175);
    transition: fill 0.2s ease 0s;
}

.end-content p {
    font-size: 22px;
}

.bottomContent {
    position: absolute;
    left: 0px;
    right: 0;
    bottom: 0px;
    z-index: 10;
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    -webkit-box-pack: end;
    align-items: center;
    -webkit-box-align: center;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: rgba(0, 0, 0, 0.1) 0px -1px;
    color:rgb(4, 69, 175);
}

.footer-pw {
    background-color: transparent;
    box-shadow: none;
    border: none;
    height: 60px;
}

.footer-create .footer-create-content-btn {
    position: relative;
    cursor: pointer;
    outline: none;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px;
    background-color: rgb(4, 69, 175);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

.spb {
    background-color: rgb(4, 69, 175);
}

.spb svg {
    display: block;
    fill: rgb(255, 255, 255);
    transition: fill 0.2s ease 0s;
}

.spb:disabled {
    background-color: rgb(4, 69, 175);
}

.spb:disabled svg {
    display: block;
    fill: rgb(192, 192, 192);
    transition: fill 0.2s ease 0s;
}

.progress {
    height: 15px;
    width: 250px;
}








